//
//  Config.xcconfig
//  Solo
//
//  Created by William Kim on 11/15/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
SPOTIFY_CLIENT_ID = cb60b9cc97d947579bbdadd6bb323ff6
SPOTIFY_CLIENT_SECRET_KEY = 771ec7d5118f40569474a2dcaad0d003
