<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.spotify.iOS-SDK-Quick-Start</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>spotify-ios-quick-start</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>spotify</string>
	</array>
    <key>NSMotionUsageDescription</key>
    <string>This app requires access to motion data to track your activities and provide personalized feedback.</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModePedestrian</string>
	</array>
	<key>SPOTIFY_CLIENT_ID</key>
	<string>$(SPOTIFY_CLIENT_ID)</string>
	<key>SPOTIFY_CLIENT_SECRET_KEY</key>
	<string>$(SPOTIFY_CLIENT_SECRET_KEY)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Koulen-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
